* {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 41);
}
.headerView {
  height: 150px;
  width: 100%;
  background-color: rgb(63, 53, 199);
}
.heading-text {
  background-color: rgb(63, 53, 199);
  font-size: 40px;
  text-shadow: -4px 4px rgba(255, 255, 255, 0.3);
  padding-top: 2.3%;
}
.fist-section {
  border: 8px solid rgb(63, 53, 199);
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.process-design {
  width: 45px;
  height: 45px;
}
.navbar {
  background-color: midnightblue;
  padding: 1px;
}
.navbar ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}
.navbar ul li a {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  text-decoration: none;
  font-size: large;
  font-style: bold;
}
.navbar ul li a:hover {
  color: blue;
}
.items input {
  margin-top: 20px;
  margin-left: 600px;
  padding: 20px;
  width: 190px;
}
.items button {
  padding: 8px;
  width: 80px;
}
.div1 {
  background-color: rgb(220, 220, 220);
  position: relative;
  width: 540px;
  border-radius: 10px;
  border: 5px solid rgb(63, 53, 199);
  padding: 30px;
  margin-left: 10px;
  margin-top: 40px;
  font-size: 25px;
}
.div2 {
  background-color: rgb(220, 220, 220);
  width: 540px;
  position: relative;
  border-radius: 10px;
  border: 5px solid rgb(63, 53, 199);
  padding: 30px;
  margin-left: 10px;
  margin-top: 40px;
  font-size: 25px;
}
.div3 {
  background-color: rgb(220, 220, 220);
  position: relative;
  width: 540px;
  border-radius: 10px;
  border: 5px solid rgb(63, 53, 199);
  padding: 30px;
  margin-left: 10px;
  margin-top: 40px;
  font-size: 25px;
}
.div4 {
  background-color: rgb(220, 220, 220);
  position: relative;
  width: 510px;
  border-radius: 10px;
  border: 5px solid rgb(63, 53, 199);
  padding: 30px;
  margin-left: 600px;
  margin-top: 20px;
  bottom: 423px;
  font-size: 25px;
}
.processbtn {
  left: 200px;
  bottom: 100px;
  background-color: rgb(63, 53, 199);
  border-color: crimson;
  color: whitesmoke;
  position: relative;
  margin: 5px;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
}
